.site-title {
    color: white;
    text-align:left;
    }
    .pad{
     
      text-align: left;
    }
    
    .pa{
      padding-top:2%;
    }
    .padmarg{
      padding-left: 80%;
      padding-top:3%;
      text-align: right;
    }
    .sidepanel  {
      width: 0%;
      position:fixed;
      z-index: 1;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidepanel a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #ff7f50;
      display: block;
      transition: 0.3s;
      text-align: center;
      
    }
    
    .sidepanel a:hover {
      color: #ff7f50;
    
    }
    
    .sidepanel .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
    
    }
    
     .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #ff7f50;
      color: white;
      padding: 10px 15px;
      border: none;
      width:60px;
    } 
    
    .openbtn:hover {
      background-color:#ff7f50;
    }
    
    .phimg{
      width:60px;
      height: 60px;
    }
    .nav{
      background-color: rgba(0, 0, 0, 0);
      
    }
    @media screen and (max-width: 768px) {
      .topnav a{
        display: none;
      
      }
    }
    @media screen and (max-width: 768px) {
      .topnav img{
        display: none;
       
      }
    }
    @media screen and (max-width: 800px) {
      .topnav p{
        display: none;
       text-align: right;
      }
    }
    
    @media screen and (max-width: 800px) {
      .topnav h2{
        display: none;
      
      }
    }
    
    @media screen and (min-width:800px) {
      .topna {
        Visibility:hidden;   
      }
    }
    
    @media screen and (min-width:768px) {
      .topna h2{
        Visibility:hidden;   
      }
    }
    
    .flex-container {
      display: flex;
      font-weight: 600;
      font-size: 1.5em;
      align-items: center;
    }
    
    .navv{
      color: white;
      display: block;
    }
    ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       
     }
     
     li {
       float: left;
     }
     
     li a {
       display: block;
       padding: 5px;
       color:#ff7f50;
       text-align: left;
       font-weight: 600;
       font-size: 17px;
       margin-left :12px;
       margin-top:10px;
       list-style: none;
     }
      
    .lend li img {
      margin-left:-20px;
      width:250px;
      height: 70px;
    }
    
   .bakgfooter{
     background-color: rgba(51, 51, 51,51);
     color:white;
     font-weight:400px;
     
   }

  .flex-container i{
    width: 100px;
    margin: 15px;
    text-align: center;
    line-height: 75px; 
    font-size: 30px;
    margin-left :-40px;
  }

  .dot {
  height: 20px;
  width: 20px;
  margin-top :1px;
  background-color: white;
  border-radius: 40%;
  display: inline-block;
 }

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.martpfooter{
  margin-top :5px;
 }

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: white;
  height:200px;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height:370px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #ff7f50;
  text-align:center;
  cursor: pointer;
  width: 38%;
  font-size: 18px;
  float:left;
  margin-left:3px;
  
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
 
.example1 {
  font-family: 'Poppins';
  padding: 10px;
  text-align:justify;
}
.blogh3 {
  color: #ff7f50;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #ff7f50;
}
.blogh5{
  color: #ff7f50;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #ff7f50;
}

.ul.breadcrumb li {display: inline;}

.ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.headertitle{
  color: #ff7f50;  
 
  text-align:center;
}

.colgrud{
  color: #ff7f50;
  
}
.marg{
 margin-left:55px;
}